#top_body
  #copywrite
    .c_title
      クリーニング配達、承ります。
    .c_content
      .c_content__left
        .c_content__left__top
          今、忙しくて手が離せない。しかしクリーニングを出さなければならない。そんなときはございませんか？
          %br/
          そんなときは中山クリーニングにお任せください。
          %br/
          中山クリーニングは店頭受け取りだけでなく、配達サービスも承っております。
          %br/
          お気軽にお申し込みください。
      .c_content__right
        .c_content__right__top
          お申し込み方法
        %ul.c_content__right__bottom
          %li Step1 上記、もしくは下記のリンクにて新規登録を行なってください。
          %li Step2 料金表にて注文内容の見積もりを立ててください。
          %li Step3 注文フォームにて必要事項をご記入してください。
          %li Step4 確認画面にてご注文に誤りがなければ「送信」ボタンを押してください。


  #user_form
    = link_to "新規登録", new_user_registration_path, class: "btn btn-signup"
    = link_to "ログイン", new_user_session_path, class: "btn btn-login"