#header
  #headerContent
    %h1#tagline
      清潔に,美しく,快適に。上質なクリーニングを。クリーンリビングをご提案します。
    #menu
      #logo
        = icon('fa','tshirt',id: "logo__icon")
        #logo__name
          中 山 ク リ ー ニ ン グ
      %ul#globalNavi.clearfix
        %li 料金
        %li 
          = link_to "新規登録", new_user_registration_path,class: "btn btn-globalNavi"
        %li 
          = link_to "ログイン", new_user_session_path, class: "btn btn-globalNavi"