#header
  #headerContent
    %h1#tagline
      清潔に,美しく,快適に。上質なクリーニングを。クリーンリビングをご提案します。
    #menu
      = link_to root_path,id: "logo__top" do
        #logo
          = icon('fa','tshirt',id: "logo__icon")
          #logo__name
            中 山 ク リ ー ニ ン グ
      %ul#globalNavi.clearfix
        %li 
          = link_to "料金", order_index_path,class: "btn btn-globalNavi"
        %li 
          = link_to "ログアウト", destroy_user_session_path,class: "btn btn-globalNavi", method: :delete