= render "devices/shared/top"
.prices
  .price
    %h3 料金一覧(来店価格)
    %ul.p_list
      %li ワイシャツ・・・・・・・(税込) 110円
      %li シャツ・・・・・・・・・(税込) 110円
      %li スーツ上下・・・・・・・(税込) 1,610円
      %li セーター・・・・・・・・(税込) 590円
      %li カーディガン・・・・・・(税込) 780円
      %li ブラウス・・・・・・・・(税込) 550円
      %li その他トップス・・・・・(税込) 410円
      %li パンツ・・・・・・・・・(税込) 660円
      %li スカート・・・・・・・・(税込) 660円
      %li ワンピース・・・・・・・(税込) 1,230円
    %h4 ※こちらはご来店価格になります。配達でのご利用は合計金額+500円頂戴いたします。なお、2000円以上ご利用の場合は無料でご利用いただけます。
  .price_ca
    .simulater_t
      料金シミュレーター
    .simulater_c
      料金のお見積もりができます。下記のリンクからご確認ください。
      .sim_btn
        確認
