.prices {
  background-color: #00aaff;
  height: calc(100vh - 138px);

  padding:0 200px;
  display: flex;
} 

.price {
  margin-top: 80px;
  height: 480px;
  width: 310px;
  border: solid 10px #ffff1a;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  color: #00aaff;
}
.price h3 {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bold;
}

.price h4 {
  margin-top: 20px;
}

.p_list li{
  margin-bottom: 5px;
}
.price_ca {
  margin: 80px 0 0 200px;
  background-color: #ffffff;
  color: #00aaff;
  border: solid 10px #ffff1a;
  border-radius: 10px;
  height: 500px;
  width: 400px;
  h3 {
    font-size: 25px;
    margin:10px 0  20px 10px;
    font-weight: bold;
  }
  .simulater_c {
    margin-left: 30px;
    .field_form {
      margin:10px 0 0  35px;
      .field {
        display: flex;
        margin-bottom: 7px;
        & label {
          margin:0 20px;
          width:125px;
          float: left;
        }
        .field-input input{
          width: 40px;
        }
        .field-input {
          .display {
            width: 60px;
          }
        }
      }
      .sum-price {
        font-size: 25px;
        margin-left: 55px;
        #total_price {
          width: 100px;
          color: #00aaff;
          border-style: none;
        }
      }
    }
  }
}