.form_body {
  background-color: #00aaff;
  height: calc(100vh - 138px);
  width: 100%;
  padding-top: 100px;
}

.user_form {
  width: 249px;
  margin: 0 auto;
}

.new_user {
  background-color: #ffffff;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  color: #00aaff;
  border: solid 10px #ffff1a ;
}

.actions {
  margin: 10px 0 0 90px;
}

.btn-submit {
  width: 100px;
  color: #00aaff;
}